<h1><%= @chosed_letter %></h1>

<form action="/<%= @chosed_letter %>/example_<%= @chosed_letter %>">
  <a href="/<%= @chosed_letter %>"><button>Make a word starts with "<%= @chosed_letter %>" in Uyghur language</button></a>
</form>
