
<div class="control">
  <div class="pictorial">
    <% @letters_with_audio.each do |letter, audio_path|%>
        <a href="/<%= letter %>" class="letter"
          data-audio="<%= audio_path %>">
          <%= letter %>
        </a>
    <% end%>
  </div>
</div>


<div class="pictorial">

  <div class="text-blue-400 text-2xl font-bold ml-40">
    <p>
       ئۇيغۇر تىلىدا <%= @letters_with_audio.length() %> ھەرپ بار. 
    </p>
  </div>

  <div class="text-blue-400 text-2xl font-bold mr-40" dir="ltr">
    <p>
      There are <%= @letters_with_audio.length() %> letters in Uyghur alphabet.
    </p>
  </div>

</div>
