
<div id="control">
  <div class="pictorial">
    <% @vowels_with_audio.each do |vowel, audio_path|%>
        <a href="/<%= vowel %>" class="letter"
          data-audio="<%= audio_path %>">
          <%= vowel %>
        </a>
    <% end%>
  </div>
</div>

<div class="pictorial">

  <div class="text-blue-400 text-2xl font-bold ml-40">
    <p>
       ئۇيغۇر تىلىدا <%= @vowels_with_audio.length() %> سوزۇق تاۋۇش بار. 
    </p>
  </div>

  <div class="text-blue-400 text-2xl font-bold mr-40" dir="ltr">
    <p>
      There are <%= @vowels_with_audio.length() %> vowels in Uyghur alphabet.
    </p>
  </div>

</div>

<div class="text-center mt-20">
  <a href="/">
    <button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600" >
      Back
    </button>
  </a>
</div>
